/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.montserrat {
  font-family: var(--montserrat);
}

.text-purple-dark {
  color: #21005B; 
}

.text-purple-dark-lighter {
  color: #4F00BD;
}

.text-pink-dark {
  color: #C548FF;
}

.text-pink-dark-lighter {
  color: #F19EDC;
}

.divSpyActive {
  width:0%;
  height:5px;
  background-color: orange;
}
.scrollSpy .active + div {
  transition:all 0.3s;
  width:100%;
}

.scrollId h2 {
  scroll-margin-top: 80px;
}

.gradientTextPink {
  background: -webkit-linear-gradient(280deg,#eee, #FF00E5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBlueWhite {
  background: -webkit-linear-gradient(black 0%, #a62bf8 67%, #2E0066 100%);
}

.gradientPinkBlack {
  background: linear-gradient(120deg,black 0%, #BC57FF 50%, #4E0062 100%);
}

.gradientePurpleBlack {
  background: linear-gradient(120deg,black 0%, #BC57FF 50%, #4E0062 100%);
}


h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /*font-family: Arial, Helvetica, sans-serif;*/
}


/*      LOGIN MENU       */
div.loginMenu h6 {
  color:red;
}

div.loginMenu h5 {
  color:green;
}
